body{
    background-color: #efefef;
    margin:0;
}
.card {
    width:420px;
    height: 595px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

figure {
    margin:0;
    height: 200px;
}

figure>img {
    width:420px;
    height:200px; 
}

.btn{
    padding: 7px 15px;
    width: 14.2em;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.btn-blue{
    color: #36c;
    border:1px solid #36c;
}
.btn-blue:hover{
    background-color: #36c;
    color: #fff;
}
.btn-black{
    color: #333;
    border:1px solid #333;
}
.btn-black:hover{
    background-color: #333;
    color: #fff;
}
